extends partials/layout.pug

block content

    if errorMsg
        aside.usa-aler.usa-alert--error
            div.usa-alert__body
                p.usa-alert__text= errorMsg

    if !document.id
        aside.usa-aler.usa-alert--warning
            div.usa-alert__body
                p.usa-alert__text Sorry, but that document ID does not seem to exist!
    else 
        h2
            | Document 
            a(href=`https://www.regulations.gov/document/${document.id}` target='_blank')= document.id

        h3.doctype= `${document.attributes.documentType} ${(document.attributes.subtype) ? `(${document.attributes.subtype})` : ''}`

        - const modDate = (new Date(document.attributes.modifyDate)).toLocaleString()
        - const postedDate = (new Date(document.attributes.postedDate)).toLocaleString()

        article.usa-summary-box.document(data-document-id=document.id)
            section.usa-summary-box__body
                h3.usa-summary-box__heading= document.attributes.title
                main.usa-summary-box__text
                    p= document.attributes.docAbstract
                    p
                        | This Document is part of docket: 
                        a(href=`/docket/${document.attributes.docketId}`)= document.attributes.docketId
                    cite.docket-meta
                        span= `Agency ${document.attributes.agencyId}`
                        span= `Posted ${postedDate}`
                        span= `Last Modified ${modDate}`

        h3= `Comments (${comments.length})`

        table.usa-table.usa-table--striped.comments
            thead
                tr 
                    th.author(scope='col') Author
                    th(scope='col') Date
                    th.attachments(scope='col') Attachments
                    th.comment-text(scope='col') Comment (first 100 characters)
            tbody
                each comment in comments
                    tr.comment(data-comment-id=comment.id)
                        th(scope='row')
                            a(href=`https://www.regulations.gov/comment/${comment.id}` target='_blank')= comment.attributes.title.replace(/^Comment submitted by (the )?/, '')
                        - const postedDate = (new Date(comment.attributes.postedDate)).toLocaleDateString()
                        td= postedDate
                        td.attachments ?
                        td.comment-text loading...
                        

    script(src='/get-comments.js')
